[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git 
[submodule "home/.vim/bundle/elm.vim"]
	path = home/.vim/bundle/elm.vim
	url = https://github.com/lambdatoast/elm.vim.git
[submodule "home/.emacs.d"]
	path = home/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
